<!DOCTYPE html>
<html lang="zh-ch" class="">
<head>
    <meta name="viewport" content="text/html;width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>跨境通-全球网络购物首选，代购海淘官网——&lt;跨境通&gt;网上商城</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google-site-verification" content="D1LaFTZTmCakoBLQf9s20ciGcJOkP_sVlscyzlEfkLE" />
    <meta name="author" content="xiakong" />
    <meta name="Copyright" content="跨境通" />
    <meta name="keywords" content="全球购物，正规代购，网购，海淘，全球购，网上商城，跨境购物，海外购物，进口，奶粉，奢侈箱包，顶级化妆品，免税店，自贸区，百货,跨境通官方网站,跨境电商,海淘网" />
    <meta name="description" content="&lt;跨境通&gt;低价、快速、100%正品——专卖进口顶级「箱包」、「配饰」、「化妆品」，进口「母婴奶粉」、「食品饮料」等5大类10万余种商品，依托上海自贸区和海关总署，设立自贸直销、境外直邮、网上免税店等三大专区，为您贴心服务,跨境通官方网站,跨境电商,海淘网" />
    <meta name="msapplication-TileImage" content="/Resources/themes/default/Nest/img/favicon.ico" />
    <script src="http://preweb.kjt.com/Resources/themes/default/js/jquery-1.6.2.min.js"></script>
    <!--引入jquery.masonry.min.js用于Memu弹层中的布局-->
    <script src="http://preweb.kjt.com/Resources/themes/default/js/jquery.masonry.min.js"></script>
    <script src="http://preweb.kjt.com/Resources/themes/default/js/ui.base.js"></script>
    <script src="http://preweb.kjt.com/Resources/themes/default/js/ui.Xslider.js"></script>
    <script src="http://preweb.kjt.com/Resources/themes/default/js/ui.popWin.js"></script>
    <script src="http://preweb.kjt.com/Resources/themes/default/js/Validform_v5.1_min.js"></script>

    <script src="http://preweb.kjt.com/Resources/scripts/common/jquery.json-2.4.min.js"></script>
    <script src="http://preweb.kjt.com/Resources/scripts/common/jquery-extension.js"></script>
    <script src="http://preweb.kjt.com/Resources/scripts/common/common.js"></script>
    <script src="http://preweb.kjt.com/Resources/scripts/common/MiniAccount.js"></script>
    <!--script src="http://preweb.kjt.com/Resources/scripts/pages/shopping/ShoppingCartMini.js"></script-->
    <script src="http://preweb.kjt.com/Resources/scripts/pages/home/_main.js"></script>
    <link href="http://preweb.kjt.com/Resources/themes/default/css/global.css" rel="stylesheet"/>
    <link href="http://preweb.kjt.com/Resources/themes/default/css/mini_login.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://preweb.kjt.com/Resources/themes/default/css/product.css" rel="stylesheet"/>
    
    
    <link href="http://preweb.kjt.com/Resources/themes/default/css/index.css" rel="stylesheet"/>
    <link href="http://z-ecx.images-amazon.com/images/G/01/AUIClients/NavAuiAssets-bc93e610a616dd196eda0cc0238d74dd3f830199.min._V2_.css" rel="stylesheet">
    </link>
    <script src="http://preweb.kjt.com/Resources/themes/default/js/pg_index.js"></script>
    <style type="text/css">
      .commentsList h3 {height:21px;overflow:hidden;}
    </style>

</head>

<body>
<div id="headerCtner" class="headerCtner" data-pos-stick="true">
<div id="topbar">
    <div class="wraper">
        <div class="fr">
            <ul class="topnav">
                <li>
                    <dl class="fl">
                        <dt><a href="http://preweb.kjt.com/product/searchresult?tt=0">产地直销</a></dt>
                    </dl>
                    <b>&nbsp;</b>
                </li>
                <li>
                    <dl class="fl">
                        <dt><a href="http://preweb.kjt.com/product/searchresult?tt=1">进口商品</a></dt>
                    </dl>
                    <b>&nbsp;</b>
                </li>
                <li>
                    <dl class="fl">
                        <dt><a href="http://preweb.kjt.com/news">网站公告</a></dt>
                    </dl>
                    <b>&nbsp;</b>
                </li>
                <li>
                    <dl class="fl">
                        <dt><a href="http://preweb.kjt.com/member/orderlist">我的订单</a></dt>
                    </dl>
                    <b>&nbsp;</b>
                </li>
                <li>
                    <dl class="expand fl">
                        <dt><a href="javascript:void(0)">我的收藏<s class="corner"></s></a></dt>
                        <dd>
                            <div class="inner">
                                <ol>
                                    <li><a href="http://preweb.kjt.com/memberservice/myfavorite">商品收藏</a></li>
                                    <li><a href="http://preweb.kjt.com/memberservice/myfavoriteseller">商家收藏</a></li>

                                </ol>
                            </div>
                        </dd>
                    </dl>
                    <b>&nbsp;</b>
                </li>
                <li>
                    <dl class="expand fl">
                        <dt><a href="javascript:void(0)">帮助中心<s class="corner"></s></a></dt>
                        <dd>
                            <div class="inner">
                                <ol>
                                    <li><a href="http://preweb.kjt.com/servicecenter">帮助中心</a></li>
                                    <li><a href="http://preweb.kjt.com/websitemap">站点导航</a></li>

                                </ol>
                            </div>
                        </dd>
                    </dl>
                    <b>&nbsp;</b>
                </li>
            </ul>
        </div>
        <div class="user">
            
            <a rel="sidebar" class="mr10" href="" onclick="return AddFavForTop('跨境通')">收藏跨境通</a>
            <a href="http://preweb.kjt.com/">跨境通首页</a>
                <a class="ml10" href="http://preweb.kjt.com/login?returnUrl=http://preweb.kjt.com/">请登录</a>
                <a class="ml10" href="http://preweb.kjt.com/register">免费注册</a>                
        </div>
    </div>
    </div>
    <div id="header">
        <div class="wraper">
            <a href="http://preweb.kjt.com/" class="logo inblock">跨境通 KJT.COM</a>
        </div>

    </div>
    
</div>

<div id="main">
  <div class="wraper">
	  <div class="stfloor cls mt20">
	      <div class="floorTit floorTit_bb floorTit_red cls">
	      <h2 style="float:left">Detail</h2>
			<!--img src="/static/image/5108624a3160c.jpg" style="width:50px;height:50px;float:left;"></img-->	
			<div class="quickLink"> </div>
			</div>
		</div>
		<div class="main cls">
			<div class="proinfo cls">
			   <div class="prodetail withStores fr">
			       <div class="prodetailtitle">
			           <div class="prodetailinner">
			               <div class="info">
                            <ul class="cls">
                                <li class="priceinfop blueB"><font size="3px">{{ item.title }}</font>
                                </li>
                                <li class="priceinfop"><span class=""><font color="#ff0000" size="5px">
										  {% if item.price_high %}
										     {{ item.price_low }} ~ {{ item.price_high }}
										  {% else %}                                
                                		From {{ item.price_low }} 
                                {% endif %}
                                </font></span>
                                    <span class="priceRightElement">
                                            <span class="ml10"><s style="display: inline-block; margin-left: -9px; width: 8px;"></s></span>
                                    </span>
                                    <a target="_blank" href="http://preweb.kjt.com/product/discountnotify/209" class="blueB ml10">[降价通知]</a>
                                </li>
                                <li class="proinfoliB blueB"> Features:
                                    <ul>
                                {% for feature in item.total_feature %}
                                		<li>{{ feature }}</li>
                                {% endfor %}
                                    </ul>
                                </li>
               
                            </ul>
                        </div>
                        <div class="action info">
                            <ul class="cls">
                                <li>
                                    <div class="probtn">
                                        <a href="{{ item.page_url }}" ><button style="background-position: left -169px;height: 44px;width: 162px;">Buy in Amazon</button></a>
                                    </div>
                                </li>
                                <li><a href="../xml/{{ asin }}"> See Response XML</li>
                            </ul>
                        </div>
			           </div>
			       </div>
			   </div>
				<div class="bigimg" style="position: relative;">
					<a class="jqzoom" href="{{ item.image_url }}" style="cursor: crosshair; display: block; position: relative;">
					<img alt="" src="{{ item.image_url }}">
					</a>
				</div>
				
			</div>
		</div>
	</div>
	
</div>

</body>